{% extends 'base.html.twig' %}

{% block title %}New CheminDeTraverse{% endblock %}

{% block main %}
    <h1>Create new CheminDeTraverse</h1>

    {{ include('chemin_de_traverse/_form.html.twig') }}

    <a href="{{ path('app_chemin_de_traverse_index') }}">back to list</a>
{% endblock %}
